@font-face{
    font-family: "ShadowsIntoLight";
    src: url("fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: #fff79a;
    overflow-y: hidden;
    
}

header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(193, 34, 34);
    color:white;
    font-family: "ShadowsIntoLight";
    font-size: large;
    border-bottom: 5px solid;
    border-bottom-color: rgb(141, 8, 8);

    box-shadow: inset 7px 7px 5px rgb(255, 72, 72),
                inset -7px -7px 5px rgb(145, 9, 9);
}

header button{
    background-color: transparent;
    border:none;
    color:white;
    margin-left: 20px;
    cursor: pointer;
    padding: 7px;
    border-radius: 3px;

}

header button:hover{
    background-color: rgba(0,0,0,0.3);
}

header input{
    margin-right: 20px;
}

aside{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20vw;
    height: 100vh;
    color:white;
    background-color: rgb(141, 8, 8);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

aside div{
    display: flex;
    width:100%;
    flex-wrap: wrap;
}

.home{
    justify-content: center;
    align-items: center;
}

.home-header{
    border-bottom:2px solid;
    border-bottom-color: white;
    margin-bottom:10px;
}
.home-header h3{
    line-height:1.5em;
    font-size: 2em;
}

.home-button


/* div{
    display: flex;
    width:100%;
} */
p{
    color:rgb(156, 156, 209);
    line-height: 60px;
    border-bottom: solid 2px;
    border-bottom-color: rgb(140, 140, 224);
    width:100%;
    font-family: "ShadowsIntoLight";
    font-size: 30px;
    font-weight:500;
}